/* RESET
------------------------------------------------------------ */

@charset "UTF-8";*,*:before,*:after{-webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;box-sizing:border-box;padding:0;margin:0;}
  
  * { margin: 0; padding: 0; }
  html { overflow-y: scroll;}
  body {
  font-size: 16px;
  color: #666666;
  font-family: Arial, helvetica, sans-serif;
  }
  
  fieldset {
  padding-bottom: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  }
  
  label {
  padding:7px;
  margin-left: 5px;
  margin-top: 10px;
  line-height: 1.4em;
  font-size: 1.2em;
  }
  
  legend {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
  }
  input {
  font-size: 1.5em;
  }
  p {
  margin-top: 20px;
  }
  td {
  padding-left:30px;
  }